.errorImage{
    // display: flex;
    // align-items: center;
    width: 60%;
    height: 60%;
}
.error404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
